header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main {
        /*----------- COLUMNS ------------*/
        .column {padding: 0 $gutter;}

        @for $i from 0 through 12 {
        $w:($i/12) * 100%;
        .large-#{$i} {flex-basis: $w;}
        }// end loop
}



/*----------- FOOTER --------------*/
    
