/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    display: grid;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/

header {
    display: grid;
    grid-template-columns: 51px auto 44px;
    align-items: center;
    padding: .5rem 2vw;
    background-color: $menuColor;
    color: white;
    div#phone {
        display: none;
    }
    h1 {
        padding: 1rem;
    }
}// end of header

div#headerWrapper {
    grid-row-start: 1;
    background: $menuColor;
}

/*----------- NAVIGATION --------------*/
div#navWrapper {
    grid-row-start: 4;
}

div#hamburger a, div#closex a {
    display: block;
    padding: .8rem 2vw;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    text-align: right;
} // end nav button

nav {
    height: 100vh;
    background-color: $primaryColor;
    ul {
        border-bottom: 1px solid $accentColor;
        padding: 0;
    }

    ul li {
        border-top: 1px solid $accentColor;
        list-style: none;
    }

    ul li a{
        display: block;
        color: white;
        padding: .9rem 2vw;
        text-decoration: none;
        text-align: right;
        text-decoration-style: none;
        list-style: none;
        background-color: $menuColor;
        font-size: large;
    }
    ul li a:hover{
        color: $accentColor;
    }

    ul li.active a {
        background-color: lighten(grey, 1%);
    }
}

div#closex a {margin-right: 2vw;}

/*----------- MAIN --------------*/
div#mainWrapper {
    grid-row-start: 2;
}
main {
    padding: 0 2%;
    min-height: 10rem;

    /*----------- COLUMNS ------------*/

    div.column {
        padding: 0 $gutter;
    }
      

    div.flex {
        display: flex;
        flex-wrap: wrap;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        justify-content: center;
    } // end parent

    div.flexsocial a {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: #eee;
        font-size: 3rem;
        text-decoration: none;
        align-content: center;
    }

    div.flexsocial {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        color: #eee;
        font-size: 3rem;
        text-decoration: none;
        background-color: $primaryColor;
    }

    div.flexsocial a:hover {
        color: $menuColor;
    }
        
    .colorme {
        background-color: grey;
        padding: 0;
        text-align: center;
        border: 1px solid #333;
        font-size: smaller;
        margin: 0;
        p {
            margin: 1rem;
        }
    }

    .colorme img {
        display: block; /* make the image a block-level element */
        margin: 0 auto; /* center the image horizontally */
        max-width: 100%; /* make the image responsive */
    }

    @for $i from 0 through 12 {
        $w:($i/12) * 100%;
        .small-#{$i} {flex-basis: $w;}
    }// end loop

    .jumbotron {
        background-color: $menuColor;
        color: white;
        h3 { font-size: 200%; padding: 2rem 0; margin: 0;}
        margin: 0;
    }

    .jumbotron h3:hover {
        background-color: $accentColor;
    
    }
      
    .my-button {
        background-color: $menuColor; /* set the button's background color */
        border: none; /* remove the button's border */
        color: white; /* set the button's text color */
        padding: 12px 24px; /* set the button's padding */
        text-align: center; /* center the button's text */
        text-decoration: none; /* remove the button's underline */
        display: inline-block; /* display the button as an inline-block element */
        font-size: 12px; /* set the font size of the button's text */
        margin: 10px; /* set the button's margin */
        cursor: pointer; /* add a pointer cursor to the button */
        border-radius: 10px; /* add border-radius to create rounded corners */
      }
      
      .my-button:hover {
        background-color: #3e8e41; /* change the button's background color on hover */
      }

      .my-button1 {
        background-color: $menuColor; /* set the button's background color */
        border: none; /* remove the button's border */
        color: white; /* set the button's text color */
        padding: 12px 24px; /* set the button's padding */
        text-align: center; /* center the button's text */
        text-decoration: none; /* remove the button's underline */
        display: inline-block; /* display the button as an inline-block element */
        font-size: 12px; /* set the font size of the button's text */
        margin: 0; /* set the button's margin */
        cursor: pointer; /* add a pointer cursor to the button */
        width: 100%;

      }
      
      .my-button1:hover {
        background-color: #3e8e41; /* change the button's background color on hover */
      }



}// end of main


/*----------- Socials --------------*/

      
/*----------- FOOTER --------------*/
div#footerWrapper {
    grid-row-start: 3;
    background-color: $menuColor;
}
footer {
    background-color: $menuColor;
    padding: .5rem 2%;
    text-align: center;
    color: white;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}