/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    display: grid;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/

header {
    display: grid;
    grid-template-columns: 51px auto 44px;
    align-items: center;
    padding: .5rem 2vw;
    background-color: $menuColor;
    color: white;
    div#phone {
        display: none;
    }
}// end of header

div#headerWrapper {
    grid-row-start: 1;
    background: $menuColor;
}

/*----------- NAVIGATION --------------*/
div#navWrapper {
    grid-row-start: 4;
}

div#hamburger a, div#closex a {
    display: block;
    padding: .8rem 2vw;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    text-align: right;
} // end nav button

nav {
    height: 100vh;
    background-color: $primaryColor;
    ul {
        border-bottom: 1px solid $accentColor;
        padding: 0;
    }

    ul li {
        border-top: 1px solid $accentColor;
        list-style: none;
    }

    ul li a{
        display: block;
        color: white;
        padding: .9rem 2vw;
        text-decoration: none;
        text-align: right;
        text-decoration-style: none;
        list-style: none;
        background-color: $menuColor;
        font-size: large;
    }
    ul li a:hover{
        color: $accentColor;
    }

    ul li.active a {
        background-color: lighten($menuColor, 8%);
    }
}

div#closex a {margin-right: 2vw;}

/*----------- MAIN --------------*/
div#mainWrapper {
    grid-row-start: 2;
}
main {
    padding: 0 2%;
    min-height: 10rem;

    /*----------- COLUMNS ------------*/

    .column {
        padding: 0  $gutter;
    }

    div.flex {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    } // end parent

    div.flexcta {
        background: red;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    } // end parent

    div.flexblog {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    } // end parent

    div.flexfaq {
        display: flex;
        flex-wrap: wrap;
        background-color: blue;
        padding: 2vh;
    } // end parent

 
    div.flexsocial {
        background: $primaryColor;
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 0;
    } // end parent

    div.flexsocial a {
        flex-basis: 25%;
        text-align: center;
        color: #eee;
        font-size: 3rem;
        text-decoration: none;
    }

    div.flexsocial a:hover {
        color: $accentColor;
    }
        
  

    .colorme {
        background-color: grey;
        border-radius: 1px solid green;
        padding: 1rem;
    }

    .colorme1 {
        background-color: tan;
        border-radius: 1px solid green;
        padding: 1rem;
    }

    @for $i from 0 through 12 {
        $w:($i/12) * 100%;
        .small-#{$i} {flex-basis: $w;}
    }// end loop

    .jumbotron {
        background-color: blue;
        color: white;
        p { font-size: 200%; padding: 2rem 0;}
    }

}

    /*----------- Socials --------------*/
div.social {
    background-color: black;
    display: flex;
    padding: 1rem 0;
}

div.social a {
    flex-basis: 25%;
    text-align: center;
    color: white;
    font-size: 3rem;
    text-decoration: none;
}

/*----------- CTA Button --------------*/

.flexbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .flexbutton h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 4px;
    text-align: center;
    padding: 2px 4px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
  }

  .flexbutton a {
    text-decoration: none;
  }
  
  .flexbutton:hover h4 {
    background-color: #0056b3;
  }
  
      
/*----------- FOOTER --------------*/
div#footerWrapper {
    grid-row-start: 3;
    background-color: $menuColor;
}
footer {
    background-color: $menuColor;
    padding: .5rem 2%;
    text-align: center;
    color: white;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}