$primaryColor:#025951;
$secondaryColor:#baa256;
$fontColor:#dce2eb;

$menuColor: #013440;
$accentColor: #37a65e;

//$defaultFont:;
//$normalWeight:;
//$boldWeight:;


$gutter: 2vw;
$gutterdb: (2 * $gutter);